{% load staticfiles %}

<html>
<head>
<title>xoff</title>
<link rel = "stylesheet" type = "text/css" href = "{{ STATIC_URL }}style.css">
<link rel = "shortcut icon" href = "{{ STATIC_URL }}favicon.ico">
</head>
<body>

<div class = "top-bar">
<a href = "http://localhost:8000">xoff</a>

{% include "logintag.html" %}
</div>

<div class = "content">
{% block content %}

{% endblock %}
</div>

<div class = "footer">
&copy; 2014 | xoff | <a href = "/tag/">all tags</a> | <a href = "/info/faq">faq</a> | <a href = "/info/help">help</a>
</div>

</body>
</html>