{% extends "base.html" %}

{% block content %}

<div class = "container">
<div class = "entry">
<span class = "entry-header">
<a href = "/entry/{{ entry.pk }}">#</a>
<a href = "/author/{{ entry.author }}" class = "author"><b>{{ entry.author }}</b></a> |
{{ entry.date|date:'d.m.y h:i' }}</span>
<hr>
{{ entry.content|safe }}
</div>

{% for comment in comments %}

<div class = "entry comment" id = "comment{{ comment.pk }}">
<span class = "entry-header">
<a href = "#comment{{ comment.pk }}">#</a>
<a href = "/author/{{ comment.author }}" class = "author"><b>{{ comment.author }}</b></a> |
{{ comment.date|date:'d.m.y h:i' }}</span>
<hr>
{{ comment.content|safe }}
</div>

{% endfor %}

{% if logged %}

<div class = "entry form comment">
<form action = "" method = "post">
{% csrf_token %}
{{ form }}
<input type = "submit" value = "add comment">
</form>
</div>
</div>

{% endif %}

{% endblock %}