{% extends "base.html" %}

{% block content %}

<div class = "entry form">
<form action = "" method = "post">
{% csrf_token %}
{{ form }}
<input type = "submit" value = "add">
</form>
</div>

{% for entry in entries %}

<div class = "entry">
<span class = "entry-header">
<a href = "/entry/{{ entry.pk }}">#</a>
<a href = "/author/{{ entry.author }}" class = "author"><b>{{ entry.author }}</b></a> |
{{ entry.date|date:'d.m.y H:i' }}</span>
<hr>
{{ entry.content|safe }}
</div>

{% endfor %}

{% endblock %}