{% extends "base.html" %}

{% block content %}

<div class = "container">

{% if logged %}

<div class = "entry form">
<form action = "" method = "post">
{% csrf_token %}
{{ form }}
<input type = "submit" value = "add">
</form>
</div>

{% endif %}

{% for entry in entries %}

<div class = "entry">
<span class = "entry-header">
<a href = "/entry/{{ entry.pk }}">#</a>
<a href = "/author/{{ entry.author }}" class = "author"><b>{{ entry.author }}</b></a> |
{{ entry.date|date:'d.m.y H:i' }}
{% if user.is_superuser %}
<a href = "/admin/wall/entry/{{ entry.pk }}/delete" class = "del">del</a>
{% endif %}
</span>
<hr>
{{ entry.content|safe }}

{% if entry.is_commented %}
<div class = "showcomments">
<a href = "/entry/{{ entry.pk }}">there are comments in this thread</a>
</div>
{% endif %}
</div>

<!--

{% for comment in comments %}

{% if comment.entry_id == entry.pk %}

<div class = "entry comment" id = "comment{{ comment.pk }}">
<span class = "entry-header">
<a href = "#comment{{ comment.pk }}">#</a>
<a href = "/author/{{ comment.author }}" class = "author"><b>{{ comment.author }}</b></a> |
{{ comment.date|date:'d.m.y h:i' }}
{% if user.is_superuser %}
<a href = "/admin/wall/comment/{{ comment.pk }}/delete" class = "del">del</a>
{% endif %}
</span>
<hr>
{{ comment.content|safe }}
</div>

{% endif %}

{% endfor %}

-->

{% endfor %}

</div>

{% endblock %}