body {
	background: #444;
	color: #EEE;
	font-family: 'Tahoma';
	font-size: 10pt;
}

div.top-bar {
	background: #000;
	color: #FFF;
	font-size: 16pt;
	padding: 10px;
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	border-bottom: 1px solid #777;
}

div.article-container {
	background: #666;
	border: 1px solid #AAA;
	padding: 10px;
}

div.article {
	width: 550px;
	margin-left: 10%;
}

div.content {
	margin-top: 55px;
}

div.container {
	width:  50%;
	margin-left: 10%;
}

div.entry {
	border: 1px solid #777;
	background: #555;
	padding: 5px;
	margin-bottom: 10px;
}

div.entry:target {
	border: 1px solid #AAA;
}

div.comment {
	margin-left: 10%;
}

div.message h1 {
	font-family: 'Cambria';
	margin-left: auto;
	margin-right: auto;
}

div.showcomments {
	border-top: 1px solid #444;
	margin: 0px;
	margin-top: 10px;
	padding-top: 5px;
	text-align: center;
	width: 100%;
	position: relative;
	bottom: 0px;
}

div.footer {
	border-top: 1px solid #777;
	margin: 0px;
	margin-top: 100px;
	padding-top: 5px;
	width: 100%;
	position: relative;
	bottom: 0px;
}

span.entry-header {
	color: #777;
}

hr {
	border: none;
	border-bottom: 1px solid #666;
}

.form textarea {
	background: inherit;
	color: inherit;
	border: 1px solid #777;
	width: 100%;
	height: 25px;
	outline: none;
	transition: height 1s;
}

.form textarea:focus {
	border: 1px solid #AAA;
	height: 75px;
}

.form input[type = 'submit'], input[type = 'text'], input[type = 'password'] {
	background: inherit;
	color:  inherit;
	border: 1px solid #777;
	margin: 0px;
	border-top: none;
	width: 150px;
	outline: none;
}

.form input[type = 'submit']:hover {
	background: #777;
}

#id_entry_id, #id_author {
	display: none;
}

.top-bar a:link { color: #FFF; text-decoration: none; }
.top-bar a:active { color: #FFF; text-decoration: none; }
.top-bar a:visited { color: #FFF; text-decoration: none; }
.top-bar a:hover { color: #EEE; text-decoration: none; }

a.del:link { color: #777; text-decoration: none; }
a.del:active { color: #777; text-decoration: none; }
a.del:visited { color: #777; text-decoration: none; }
a.del:hover { color: #AAA; text-decoration: none; }

.showcomments a:link { color: #AAA; text-decoration: none; }
.showcomments a:active { color: #AAA; text-decoration: none; }
.showcomments a:visited { color: #AAA; text-decoration: none; }
.showcomments a:hover { color: #777; text-decoration: none; }

a:link { color: #ABCDEF; text-decoration: none; }
a:active { color: #ABCDEF; text-decoration: none; }
a:visited { color: #ABCDEF; text-decoration: none; }
a:hover { color: #ABCDEF; text-decoration: underline; }